body {width:1024px;
	margin: 0 auto; 
	font-family: 'Advent Pro', sans-serif;
	font-size: 18pt;
	font-weight: bold;
	background-color: white;
	background background-attachment: fixed;
}

ul {list-style: none;
}

li a:hover {color:green;
}

a{text-decoration: none; 
}




h1{ 
	float: left;
	margin-top: 9px;
	margin-bottom: 0px;
}

hr{clear: both;
}

h2{font-size: 24px;
	text-align: center;
	font-weight: bold;
}

#menu li{float: right;
	padding-left: 30px;
	margin-top: 70px;
}

p {font-size: 17px;
	float: left;
	width: 65%;
	line-height: 1.3em;
	text-align: center;
	margin-top: .75em;
}

#container{
	padding-top: 10px;
	
}

section {float: left;
	width: 70%;
}

footer {clear:both;}

#social li{float:left;
	padding-left: 30px;
	padding-bottom: 30px;
	margin: 5px 0 0 5px;
	font-size: 20px;}

	#container{clear: both;}
